(* Load "examples/pairing.tt". *)
(* ./spartan.native examples/pairing.tt -V 3 *)
(* rlwrap ./spartan.native *)

Axiom A : Type.
Definition B := exists x : A, Type.
Axiom P : B → Type.
Axiom p : B.

Check (fst p, snd p) : B.

Axiom u : P p. 

Check u : P p.
Check u: P ((fst p, snd p)). 

Definition C := exists (x : A) (y : A), Type. 